* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    height: 100%;
    background-size: 100% 100%;

    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    --main-color-dark: #39935a;
    --main-color: #6bc487;
    --main-color-light: #9df7b7;

    --title-text: 'Righteous', cursive;
    --subtitle-text: 'Comfortaa', cursive;
}

nav{
    font-weight: 700;
}

keyword{
    display: inline-block;
    font-weight: 600;
    color: var(--main-color-dark);
}

#about{
    margin: 20px 5% 50px 5%;
}

#name-div{
    width: 100%;
}

#name{
    font-family: var(--title-text);
    font-weight: 500;
    text-align: center;
    margin-bottom: -.3rem;
}

#name-title{
    text-align: center;
    font-family: var(--subtitle-text);
    font-weight: 600;
    font-size: .85rem;
}

#description > section:nth-child(2n){
    margin-left: 30%;
}

#description > section:nth-child(2n) > .subtitle{
    text-align: right;
    margin-right: 2%;
}

#description > section:nth-child(2n + 1){
    margin-right: 30%;
}

#description > section:nth-child(2n + 1) > .subtitle{
    text-align: left;
}

#description > section:not(first-child) {
    margin-top: 5rem;
}


.title{
    font-family: 'Righteous', cursive;
    color: var(--main-color-dark);
}

.subtitle{
    font-family: var(--subtitle-text);
    color: var(--main-color);
    font-size: 1.25rem;
    font-weight: bold;
}

.subsubtitle {
    font-family: var(--subtitle-text);
    color: var(--main-color-light);
    font-size: .85rem;
    font-weight: bold;
}

#main-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
}

.skill {
    margin-left: .5rem;
}

#skills {
    margin: 13rem 20% 3rem 20%;
}

#skills-title {
    margin-bottom: -1rem;
}

div.skill-level{
    display: inline-block;
    background-color: transparent;
    margin-top: 1rem;
    width: 100%;
}

div.skill{
    margin-top: 1.5rem;
}

div.skill-detail{
    margin-left: .5rem;
}

div.track{
    position: relative;
    width: inherit;
    height: 21px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-animation: prgBar 5s linear 0s infinite alternate;
    animation: prgBar 5s linear 0s infinite alternate;
}

div.bar{
    height: 8px;
    width: 7%;
    background-color: #ddd;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    top: 3px;
    float: left;

    --bar-background: #ddd;
}

.bar-container{
    /*display: inline-block;*/
    width: auto;
}

.filled:nth-last-of-type(n+ 2),
.filled:nth-last-of-type(n+2) ~ .filled {
    background-color: #FF6363;

    --bar-background: #FF6363;
}

.filled:nth-last-of-type(n+4),
.filled:nth-last-of-type(n+4) ~ .filled {
    background-color: #FF8832;

    --bar-background: #FF8832;
}

.filled:nth-last-of-type(n+6),
.filled:nth-last-of-type(n+6) ~ .filled {
    background-color: #FFFF00;

    --bar-background: #FFFF00;
}

.filled:nth-last-of-type(n+8),
.filled:nth-last-of-type(n+8) ~ .filled {
    background-color: #C6E600;

    --bar-background: #C6E600;
}

.filled:nth-last-of-type(n+10),
.filled:nth-last-of-type(n+10) ~ .filled {
    background-color: #009C00;

    --bar-background: #009C00;
}


.bar:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
    background: var(--bar-background);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    z-index: -1;
}

.bar:after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 100%;
    height: 100%;
    background: var(--bar-background);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(15deg);
    -ms-transform: skew(15deg);
    transform: skew(15deg);
    z-index: -1;
}

.bar.first:before{
    all: unset;
}

.bar.last:after{
    all: unset;
}


#parent-carousel{
    margin: 5rem 5rem 0;
    padding-top: 5rem;
    position: relative;
}

#project-carousel{
    padding-left: 1rem;
    cursor: none;
}

#project-carousel{
    overflow: hidden;
}

#carousel-data{
    transition: all ease-in-out .5s;
    display: inline-flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer{
    margin-top: 7rem;
}

.card-text::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.card-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--main-color-light);
}

.card-text::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.card {
    cursor: none;
    position: relative;
    width: 500px;
    display: inline;
    background: white;
    color: currentColor;
    overflow: hidden;
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
}

a:hover {
    text-decoration: none;
    color: var(--main-color-dark);
}

.card:not(:first-child){
    margin-left: 4rem;
}

.card:hover{
    transform: scale(1.05);
}

.card.hover {
    color: white;
    transition-delay: .15s;
}
.card, .card-image, .card-image::after, .project-info-header, .card-body, .card-foot {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1);
}
.card-head {
    position: relative;
    padding-top: 70%;
}
.project-info-header {
    position: absolute;
    padding: 2em;
    left: 0;
    bottom: 0;
    color: white;
    transition-property: transform;
    transition-delay: 0.15s;
}
.card.hover .project-info-header {
    transition-delay: .15s;
}
.card-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transform-origin: top center;
    transition-property: transform;
    transition-delay: 0.15s;
}

#datavis-final-img{
    background-image: url('./images/datavisfinal.PNG');
}

#datavis-dash-img{
    background-image: url('./images/datavisdash.PNG');
}

#textmining-img{
    background-image: url('./images/textmining.PNG');
}

#xmltocsv-project-img{
    background-image: url('./images/scalaproj.PNG');
}

#mirage-img{
    background-image: url('./images/mirage.PNG');
}

#netviewer-img{
    background-image: url('./images/netviewer.PNG');
}

#autonomous-system-img{
    background-image: url('./images/autonomouscar.PNG');
}

.card-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: linear-gradient(30deg, rgba(26, 42, 99, .85), rgba(26, 42, 99, .5));
    transition-property: opacity;
    transition-delay: 0.15s;
}
.card.hover .card-image {
    transition-delay: 0s;
}
.card.hover .card-image::after {
    opacity: 1;
    transition-delay: 0s;
}
.card-body {
    position: relative;
    padding: 2em;
    transition-property: transform;
    transition-delay: 0.15s;
}
.card.hover .card-body {
    transition-delay: .15s;
}
.card-headline {
    margin: 0 0 0.8em;
    color: var(--main-color);
}
.card-text {
    line-height: 1.5;
    margin: 0;
    opacity: 0.8;
    height: 100px;
    overflow: auto;
}

.card-foot {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2em 2em;
    opacity: 0;
    transition-property: opacity;
}
.card.hover .card-foot {
    opacity: 1;
    transition-delay: 0.15s;
}

.card.hover {
    transform: none;
    transition-delay: 0.15s;
}
.project-header {
    display: flex;
    align-items: center;
}

.project-info {
    display: grid;
    grid-gap: 0.4em;
    font-size: 0.9em;
}
.project-name {
    margin: 0;
    font-weight: 600;
}
.project-for {
    margin: 0;
    opacity: 0.8;
}

.arrow-container{
    pointer-events: none;
}

b{
    font-weight: bold;
}

#left-arrow{
    position: absolute;
    top: 40%;
    left: 2rem;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    visibility: hidden;
}

#right-arrow{
    position: absolute;
    top: 40%;
    right: 2rem;
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    /*opacity: 1;*/
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    color: var(--main-color);
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: var(--main-color-light);
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}


#follower {
    position: absolute;
    display: none;
}

#follower #circle1 {
    position: absolute;
    -webkit-animation: pulse 2s infinite; /* Chrome, Safari, Opera */
    animation: pulse 2s infinite;
    background: #fff;
    border-radius: 50%;
    height: 0;
    width: 0;
    margin-top: 0;
    margin-left: 0;
    pointer-events: none;
}
#follower #circle2 {
    position: absolute;
    -webkit-animation: pulse 4s infinite; /* Chrome, Safari, Opera */
    animation: pulse 4s infinite;
    background: var(--main-color);
    border-radius: 50%;
    height: 0;
    width: 0;
    margin-top: 0;
    margin-left: 0;
    pointer-events: none;
}

@keyframes pulse {
    0% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }
    50% {
        opacity: 0.9;
        height: 3em;
        width: 3em;
        margin-top: -1.5em;
        margin-left: -1.5em;
    }
    100% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }
}
